.Hero {
    background-color: red;
    background-image: url('../media/pexels-christina-morillo-1181738.jpg');
    /* font-family: 'Niconne', cursive; */
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 0.8rem;
}

@media screen and (min-width:768px) {
    .section {
        padding: 4rem;
    }
}

* {
    font-family: 'Dosis', sans-serif;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
    color: rgb(49, 49, 182);
    text-decoration: underline;
}
/* purgecss end ignore */
@tailwind utilities;
